@import url("~fortawesome/css/svg-with-js.css");
@import url("reset.css");
@import url("variables.css");
@import url("utilities.css");
@import url("components/center.css");
@import url("components/cluster.css");
@import url("components/stack.css");
@import url("blocks/alert.css");
@import url("blocks/entry.css");
@import url("blocks/menu.css");
@import url("blocks/narrow-form.css");
@import url("blocks/breadcrumbs.css");
@import url("blocks/listing.css");
@import url("blocks/trash.css");

body {
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-highlight: var(--color-blue);
  --color-border: var(--color-gray);
  --color-button: var(--color-blue);
  --color-button-pressed: var(--color-navy);
  --color-button-text: var(--color-white);

  padding: var(--space-m);

  font-family: system-ui;
  font-size: var(--step-0);
  line-height: 1.5;
  color: var(--color-text);

  background-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-text: var(--color-white);
    --color-background: var(--color-black);
  }
}

a:link,
a:visited {
  color: var(--color-text);
  text-decoration-color: var(--color-highlight);
  text-decoration-thickness: 2px;
}

a:hover,
a:active {
  color: var(--color-highlight);
}

main {
  flex-grow: 1;
}

h1 {
  font-size: var(--step-3);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  font-weight: bold;
}

input[type="checkbox"] {
  display: inline-block;
  width: var(--step-0);
  height: var(--step-0);
  accent-color: var(--color-highlight);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: var(--space-3xs);

  color: var(--color-text);

  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--space-3xs);
}

.error {
  font-size: var(--step-n-1);
  color: var(--color-red);
}

form > div:has(> .error) {
  color: var(--color-red);
}

form > div:has(> .error) > input {
  border-color: var(--color-red);
}

button {
  display: flex;
  gap: var(--space-3xs);
  align-items: center;

  inline-size: max-content;
  padding: var(--space-3xs) var(--space-xs);

  color: var(--color-button-text);

  background: var(--color-button);
  border: none;
  border-radius: var(--space-3xs);
}

button:active {
  background: var(--color-button-pressed);
}

table {
  inline-size: min-content;
  white-space: nowrap;
}

th {
  text-align: left;
}

th,
td {
  padding: var(--space-2xs) var(--space-s);
}
