@import url("~fortawesome/css/svg-with-js.css");
@import url("reset.css");
@import url("variables.css");
@import url("utilities.css");
@import url("components/center.css");
@import url("components/cluster.css");
@import url("components/stack.css");
@import url("blocks/breadcrumbs.css");
@import url("blocks/listing.css");

body {
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-highlight: var(--color-blue);
  --color-border: var(--color-gray);

  padding: var(--space-m);

  font-family: system-ui;
  font-size: var(--step-0);
  line-height: 1.5;
  color: var(--color-text);

  background-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-text: var(--color-white);
    --color-background: var(--color-black);
  }
}

a:link,
a:visited {
  color: var(--color-text);
  text-decoration-color: var(--color-highlight);
  text-decoration-thickness: 2px;
}

a:hover,
a:active {
  color: var(--color-highlight);
}

main {
  flex-grow: 1;
}

h1 {
  font-size: var(--step-3);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
