.color-blue {
  color: var(--color-blue);
}

.bg-blue {
  background: var(--bg-blue);
}

.color-red {
  color: var(--color-red);
}

.bg-red {
  background: var(--bg-red);
}

.align-self-center {
  align-self: center !important;
}

.align-items-center {
  align-items: center !important;
}

.margin-inline-start-auto {
  margin-inline-start: auto;
}
