.breadcrumbs {
  line-height: 1;
}

.breadcrumbs > ul > li + li::before {
  content: "/";
}

.breadcrumbs > ul + h1::before {
  content: "/";
  font-size: var(--step-0);
  font-weight: normal;
}

.breadcrumbs,
.breadcrumbs > ul,
.breadcrumbs > ul > li,
.breadcrumbs > h1 {
  --cluster-space: var(--space-xs);
}
